@font-face {
    font-family: "Learning Curve";
    src: url("/fonts/LearningCurve/LearningCurve.ttf");
}
@font-face {
    font-family: "PW Scolar Paper";
    src: url("/fonts/PWScolarpaper/PWScolarpaper.ttf");
}
